{% extends 'base.html' %}
{% block title %}
  Your Profile
{% endblock %}

{% block content %}
  <div class="container py-4">
    <h2 class="mb-4">Your Profile</h2>

    <div class="row">
      <div class="col-md-6">
        <h5>User Details</h5>
        <p>
          <strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}
        </p>
        <p>
          <strong>Email:</strong> {{ user.email }}
        </p>
        <p>
          <strong>Job Title:</strong> {{ user.job_title }}
        </p>
        <p>
          <strong>Phone:</strong> {{ user.phone }}
        </p>
        <p>
          <strong>Country:</strong> {{ user.country }}
        </p>
      </div>

      <div class="col-md-6">
        <h5>Organization</h5>
        <p>
          <strong>Org Name:</strong> {{ org.name }}
        </p>
        <p>
          <strong>Domain:</strong> {{ org.domain }}
        </p>
        <p>
          <strong>Plan:</strong> {{ license.plan|capfirst }} {% if license.is_trial %}(Trial){% endif %}
        </p>
        <p>
          <strong>Expires:</strong> {{ license.end_date }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
